<% layout('/layouts/adminBoilerplate.ejs') %>


<div class="course-page">
  
  <div class="table-heading">
    <table class="table t-head">
      <thead>
        <tr>
          <th scope="col"><b>Chapters</b></th>
        </tr>
      </thead>
    </table>  
  </div>

  <div class="table-content">
    <table class="table">
      <thead>
      </thead>
      <tbody>
        <% for(let chapter of chapters) { %>
        <tr>
          <th scope="row"><%=chapter.chapterName%></th>
          <td><%=chapter.course.courseName%></td>
          <td><a href="/Gamedify/admin/<%=chapter._id%>/question/new"><button class="all-button"> New Question</button></a></td>
          <td><a href="/Gamedify/admin/<%=chapter._id%>/view/question"><button class="all-button">View Question </button></a>  </td>
          <td>
            <form action="/Gamedify/admin/<%=chapter._id%>/chapter?_method=put" method="post">
              <button class="all-button">Edit</button>
            </form>
          </td>
          <td>
            <form action="/Gamedify/admin/<%=chapter._id%>/chapter?_method=delete" method="post">
              <button class="all-button">Delete</button>
            </form>
        </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>