<% layout('/layouts/adminBoilerplate.ejs') %>


<div class="col-8 view-chapter-course">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Chapter</th>
         <th scope="col">Course</th>
         <th></th>
        <!-- <th scope="col">Questions</th>  -->
        <th scope="col">Delete</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
        <% for(let chapter of chapters) { %>
      <tr>
        <th scope="row"><%=chapter.chapterName%></th>
        <td><%=chapter.course.courseName%></td>
        <td><a href="/Gamedify/admin/<%=chapter._id%>/question/new"><button>Add New Question</button></a></td>
        <td>
            <a href="/Gamedify/admin/<%=chapter._id%>/chapter/delete"><button>Delete </button></a>
        </td>
        <td>
          <a href="/Gamedify/admin/<%=chapter._id%>/chapter/edit"><button>Delete </button></a>
      </td>
      <td><a href="/Gamedify/admin/view/question"><button>View Question </button></a></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>