<% layout('/layouts/adminBoilerplate.ejs') %>

<div class="col-8 view-chapter-course">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Course</th>
        <!-- <th scope="col">Chapters</th>
        <th scope="col">Questions</th> -->
        <th scope="col">Add</th>
        <th scope="col">Delete</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
        <% for(let course of courses) { %>
      <tr>
        <th scope="row"><%=course.courseName%></th>
        <!-- <td><%=course.chapters%></td>
        <td><%=course.questions%></td> -->
        <td>
            <a href="/Gamedify/admin/<%=course._id%>/chapter/new"><button>Add New Chapter</button></a>
            
        </td>
        <td>
            <a href="/Gamedify/admin/<%=course._id%>/course?_method=delete"><button>Delete</button></a>
        </td>
        <td>
          <a href="/Gamedify/admin/<%=course._id%>/course?_method=put"><button>Edit</button></a>
      </td>
      <td><a href="/Gamedify/admin/view/chapter"><button>View chapter </button></a></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>