<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800">

    <link rel="stylesheet" href="/css/style4.css">
    <link href="/css/conditional-preet.css" type="text/css" rel="stylesheet">

    <title>Gamedify Admin</title>
</head>
<body>



<!-- //----------------------------------------------------------------------------------------------------------------------------- -->
<!-- //------------------------------------------------------------------------------------------------------------------------------------ -->

<div class="iiinfo">
<div class="infoooo">Full info view not available for this screen size</div>
<div class="info-icons">
    <i class="fa-solid fa-s"></i>
    <i class="fa-solid fa-o"></i>
    <i class="fa-solid fa-r"></i>
    <i class="fa-solid fa-r"></i>
    <i class="fa-solid fa-y"></i>
</div>
</div>

<div class="menuBar-box">
    <i class="fa-solid fa-bars"></i>
</div> 

<div class="menuBox">
<div class="insideMenuBox">
    <a href="#content"><div class="insideMenuBox-i" onclick="visiteThis('content')"><i class="fa-regular fa-user" style="color: #ffffff;"></i></div></a>
    <a href="#content1"><div class="insideMenuBox-i" onclick="visiteThis('content1')"><i class="fa-solid fa-check" style="color: #ffffff;"></i></div></a>
    <a href="#content2"><div class="insideMenuBox-i" onclick="visiteThis('content2')"><i class="fa-solid fa-xmark" style="color: #ffffff;"></i></div></a>
    <a href="/Gamedify"><div class="insideMenuBox-i"><i class="fa-solid fa-d" style="color: #ffffff;"></i></div></a>
</div>
</div>

<div id="content" class="content">

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="text-center card-box">
                    <div class="member-card pt-2 pb-2">
                        <div class="thumb-lg member-thumb mx-auto"><img src="" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                        <div class="" style="margin-bottom: 1rem;">
                            <h4 style="margin-bottom: 1rem;"><%=user.username%></h4>
                            <p class="text-muted">Total Points : <%=user.points%> <span>| </span><span><a href="#" class="text-pink"><%=user.email%></a></span></p>
                        </div>
                        <ul class="social-links list-inline">
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa-brands fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa-brands fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa-brands fa-skype"></i></a></li>
                        </ul>
                        <a href="#"><button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Edit</button></a>
                        <div class="mt-4">
                            <div class="row">
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4><%=user.correctQues.length%> + <%=user.incorrectQues.length%></h4>
                                        <p class="mb-0 text-muted">Total Questions</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mt-3">
                                        <% if(user.correctQues.length<=0) { %>
                                            <h4>0</h4>
                                        <%  }else { %>
                                        <h4><%=user.correctQues.length%></h4>
                                        <% } %>
                                        <p class="mb-0 text-muted">Correct Questions</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mt-3">
                                        <% if(user.incorrectQues.length<=0) { %>
                                            <h4>0</h4>
                                        <%  }else { %>
                                        <h4><%=user.incorrectQues.length%></h4>
                                        <% } %>
                                        <p class="mb-0 text-muted">Incorrect Questions</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>       

<div id="content1" class="content1">
    <h2 style="margin-bottom: 2rem; font-weight: bold; text-align: center;">Correct Questions</h2>
    <div class="correctQ">
    <table class="table table-striped table-class" id= "table-id">
  
        <thead>
        <tr>
          <th>Question</th>
          <th>Answer</th>
        </tr>
          
        </thead>
        
        <tbody>
            <% for(let cq of user.correctQues){ %>
        <tr>
            <td style="color: black;"><%=cq.question%></td>
            <td><%=cq.answer%></td>
        </tr>
            <% } %>
        </tbody>
     </table>
     </div>   
</div>

<div id="content2" class="content2">
    <h2 style="margin-bottom: 2rem; font-weight: bold; text-align: center;">Incorrect Questions</h2>
    <div class="incorrectQ">
    <table class="table table-striped table-class" id= "table-id">
  
        <thead>
        <tr>
          <th>Question</th>
        </tr>
          
        </thead>
        
        <tbody>
            <% for(let cq of user.incorrectQues){ %>
        <tr>
            <td style="color: black;"><%=cq.question%></td>
        </tr>
            <% } %>
        </tbody>
     </table>
     </div>   
</div>





        <script src="/js/startScript.js"></script>
      <script src="/js/script.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
  </html>